language: node_js

node_js:
  - "4.1"
  
env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_script:
  - 'npm install -g bower grunt-cli'
  - 'npm install'
  - 'bower install'

script:
  - grunt
